:root {
    --background: #fafafa;
    --border: #dedede;
    --text: #333333;
    --text-light: #6e6e6e;
    --logo-shadow: #cfe3ff;
    --purple: #6c5ce7;
    --blue: #0984e3;
    --green: #00cec9;
    --pink: #fd79a8;
    --orange: #fdcb6e;
    --shade-text-pink: #ff7675;
    --main-font: 'Noto Sans KR', sans-serif;
    --mobile-width: 90%;
    --tablet-width: 70%;
    --desktop-width: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 16px이 100%, 62.5%는 10px */
}

body {
    color: var(--text);
    font-family: var(--main-font);
}

a {
    color: var(--text);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

::-moz-selection {
    color: var(--text-light);
    background: var(--orange);
}
  
::selection {
    color: var(--text-light);
    background: var(--orange);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: var(--mobile-width);
    height: 7rem;
    display: flex;
    align-items: center;
}

.services {
    display: flex;
}

.services > li {
    margin: 0 1.5rem;
    font-size: 1.4rem;
}

.services > li:nth-child(1) {
    margin-left: 0;
}

.services > li > a {
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.services > li > a.active {
    font-weight: bold;
    border-bottom: 2px solid var(--text);
}

.banner {
    width: 100%;
    background: rgb(9,132,227);
    background: linear-gradient(105deg, rgba(9,132,227,1) 15%, rgba(0,206,201,1) 85%);    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.banner > img {
    height: 15rem;
}

.banner > h1 {
    position: absolute;
    color: var(--text);
    font-size: 3rem;
}

article {
    width: var(--mobile-width);
    margin-top: 2rem;
}

article > .intro {
    padding: 1rem 0;
}

.intro > h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.intro > p {
    font-family: 'Source Sans Pro', 'Noto Sans KR', sans-serif;
    color: var(--text-light);
    font-size: 1.5rem;
}

footer {
    width: var(--mobile-width);
    background: lightcoral;
}

  
@media only screen and (min-width: 401px) and (max-width: 960px) {

}
  
@media only screen and (min-width: 961px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1200px) {

}