:root {
    --background: #fafafa;
    --dark-background: #f7f7f7;
    --darker-background: #ebebeb;
    --border: #dedede;
    --text: #333333;
    --text-light: #6e6e6e;
    --text-lighter: #8f8f8f;
    --logo-shadow: #cfe3ff;
    --purple: #6c5ce7;
    --light-purple: #9e93f5;
    --blue: #0984e3;
    --green: #00cec9;
    --highlight-green: #00b894;
    --pink: #fd79a8;
    --orange: #fdcb6e;
    --shade-text-pink: #ff7675;
    --main-font: 'Noto Sans KR', sans-serif;
    --eng-font: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 16px이 100%, 62.5%는 10px */
    font-family: var(--eng-font);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    padding: 2rem;
    border-bottom: 0.5px solid var(--border);
    font-size: 2.3rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

header .navbar {
    width: 90%;
}

header span {
    color: var(--purple);
    margin-right: 1rem;
    font-weight: bold;
}

article {
    width: 90%;
}

.file-download {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 2rem 0 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.file-download i {
    color: var(--pink);
    margin-right: 0.5rem;
}

.file-download a {
    color: var(--green);
    margin-left: 1rem;
}

.bm-status {
    margin-bottom: 1rem;
}

.data-source {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.source {
    flex: 1;
    padding: 2rem;
    border: 1px solid var(--border);
    border-radius: 10px;
    margin: 2rem;
    transition: all 0.2s ease;
}

.source:hover {
    box-shadow: 2px 2px 5px var(--border);
}

.source h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    cursor: pointer;
}

.source p {
    font-size: 1.7rem;
}

.source p:not(:last-child) {
    margin-bottom: 1rem;
}

.source a {
    color: var(--light-purple);
}

.additional-source-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5rem;
}

.additional-source-btns .btns {
    display: flex;
    margin-top: 1rem;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.btns .source-btn {
    width: 10rem;
    outline: none;
    background: white;
    font-size: 1.3rem;
    border: 1px solid var(--border);
    padding: 0.6rem;
    margin-left: 1rem;
}

.content {
    margin-top: 1.5rem;
}

.source-data {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border);
}

.source-data h1 {
    font-size: 1.7rem;
    color: var(--purple);
    font-family: var(--main-font);
    display: flex;
    align-items: center;
}

.source-data h1 span {
    margin-left: 1rem;
    color: white;
    padding: 0.5rem;
    background: var(--green);
    border-radius: 5px;
    font-size: 1rem;
}

.source-data .category {
    margin: 1rem 0;
}

.category h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

.category h2 i {
    margin-right: 0.5rem;
}

.subcategory h3 {
    font-size: 1.7rem;
    color: var(--text-light);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.subcategory .factors {
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.factor {
    font-size: 1.3rem;
    padding: 0.3rem 0.6rem;
    margin: 0.5rem 0.6rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: var(--main-font);
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.factor:hover {
    color: var(--purple);
    border: 1px solid var(--light-purple);
}



/* ///////////////////////////// */
/* This is the BM Status section */
/* ///////////////////////////// */
.stats {
    margin-top: 3rem;
    width: 100%;
}

.stats .description {
    background: var(--background);
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.stats .description .others {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.stats .description .others .other-btn {
    display: flex;
    flex-wrap: wrap;
}

.other-btn button {
    padding: 0.6rem 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background: var(--text);
    color: white;
    font-size: 1.5rem;
}

.stats .description p:not(:last-child) {
    margin-bottom: 0.5rem;
}

.stats .description p a {
    display: flex;
    align-items: center;
    color: var(--blue);
}

.stats .description p a span {
    margin-right: 1rem;
}

.stats .columns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats .columns .port-col {
    width: 100%;
    margin-bottom: 2rem;
}

.port-col .colname {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--purple);
    font-family: var(--main-font);
}

.port-col .sim-data-list {
    display: flex;
    flex-wrap: wrap;
}

.sim-data-list .sim-data {
    padding: 1rem;
    margin-right: 1rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid var(--border);
}

.sim-data .compustat-name {
    font-size: 1.5rem;
    color: var(--text-lighter);
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.6rem;
    margin-bottom: 0.6rem;
}

.sim-data .sim-name {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.sim-data .sim-prob {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    color: var(--pink);
}

.bm-columns {
    width: 100%;
    height: 10rem;
    background: lightblue;
}


/* @media only screen and (min-width: 401px) and (max-width: 960px) {

}
  
@media only screen and (min-width: 961px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1200px) {

} */