@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: normal;
    src: url('NotoSansKR-Regular.otf') format('truetype');
}

:root {
    --main-color: #2c3e50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NotoSans';
}

html {
    font-size: 62.5%; /* 16px이 100%, 62.5%는 10px */
}
  
/* Mobile Styles */
.menu-container {
    margin-top: 1rem;
}

    .menu {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .logo {
            width: 50%;
            margin-left: 1.5rem;
            display: flex;
            justify-content: flex-start;
            font-size: 2rem;
            font-weight: 900;
            cursor: pointer;
            color: black;
            /* -webkit-text-stroke: 0.1rem black; */
        }

        .links {
            width: 50%;
            margin-right: 0.5rem;
            display: flex;
            justify-content: flex-end;
        }

            .signup, .login {
                font-size: 1.4rem;
                margin: 0 0.8rem;
                color: var(--main-color);
                cursor: pointer;
                display: flex;
                justify-content: center;
            }

.navigation-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: #ecf0f1;
    padding: 1rem;
}

    a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }

/* main body container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-blog-section {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .section-name {
        font-size: 1.3rem;
        color: #e74c3c;
        border-bottom: 0.1rem solid #e74c3c;
        padding-bottom: 0.2rem;
        margin-bottom: 0.5rem;
    }

    .blog-list {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

        .blog-card {
            margin-bottom: 1.5rem;
            background-color: white;
        }

            .title {
                margin: 1rem;
                font-size: 2rem;
                cursor: pointer;
            }

            .info {
                margin-left: 1rem;
                font-size: 1.2rem;
                color: #95a5a6;
            }

            .subcontent {
                margin-left: 1rem;
                margin-bottom: 1rem;
                font-size: 1.3rem;
                color: #7f8c8d;
            }

            .linkto {
                float: right;
                margin-right: 1rem;
                font-size: 1.2rem;
                color: #2980b9;
                cursor: pointer;
            }

/* .main-data-section {
    background-color: red;
    height: 35rem;
    display: flex;
    justify-content: center;
}

    .chart-section {
        width: 90%;
        background-color: white;
    } */

.main-tool-section {
    width:90vw;
    background-color: white;
    margin: 1rem 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ecf0f1;
    border-radius: 1rem;
}

    .main-tool-section > .section-name {
        font-size: 1.3rem;
        color: #8e44ad;
        border-bottom: 0.1rem solid #8e44ad;
        padding-bottom: 0.2rem;
        margin: 1rem 0;
    }

        .tool-info > .returns-chart {
            height: 35rem;
        }

        .tool-info > .returns-detail {
            width: 100%;
            height: 10rem;
            margin: 1rem 0;
            border-top: 0.1rem solid #7f8c8d;
            display: flex;
        }

            .sec {
                width: 33.3%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                .sec > .key {
                    margin-bottom: 1rem;
                    font-size: 1.7rem;
                }

                .sec > .data {
                    font-size: 1.5rem;
                    color: #7f8c8d;
                }

    .main-tool-section > .move-btn {
        margin-bottom: 1rem;
        cursor: pointer;
        color: #95a5a6;
        font-size: 1.1rem;
        border: 0.1rem solid #95a5a6;
        padding: 0.3rem 3rem;
    }

    .main-tool-section > .move-btn:hover {
        color: #2c3e50;
        border: 0.1rem solid #2c3e50;
    }

footer {
    width: 100%;
    background-color: #2c3e50;
}

    footer > .footer-content {
        margin: 1rem 0 2rem 2rem;
        width: 80%;
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
    }



/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .logo {
        margin-left: 3rem;
    }

    .logo > span {
        border: 0.2rem solid black;
        padding: 0.2rem 0.5rem;
        box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    }

    .container {
        /* background-color: yellow; */
    }

    .main-blog-section {
        width: 90%;
        /* background-color: green; */
    }

    .main-blog-section > .section-name {
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    .blog-card {
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 1rem;
    }

    .main-tool-section > .section-name {
        font-size: 1.5rem;
        margin: 2rem;
    }

    .main-tool-section > .move-btn {
        margin-bottom: 2rem;
    }

    footer > .footer-content > p:first-child{
        font-size: 1.2rem;
        font-weight: bold;
    }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .menu-container {
        display: flex;
        justify-content: center;
    }

    .menu {
        width: 80%;
    }
    
    .logo {
        margin-left: 0;
    }
    
    .logo > span {
        border: 0.2rem solid black;
        padding: 0.2rem 0.5rem;
        box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    }
    
    .container {
        /* background-color: yellow; */
    }
    
    .main-blog-section {
        width: 90%;
        /* background-color: green; */
    }
    
    .main-blog-section > .section-name {
        font-size: 1.5rem;
        margin: 2rem 0;
    }
    
    .blog-card {
        border-bottom: 1px solid #ecf0f1;
        padding-bottom: 1rem;
    }
    
    .main-tool-section > .section-name {
        font-size: 1.5rem;
        margin: 2rem;
    }
    
    .main-tool-section > .move-btn {
        margin-bottom: 2rem;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    footer > .footer-content {
        width: 80%;
    }
    
    footer > .footer-content > p:first-child{
        font-size: 1.2rem;
        font-weight: bold;
    }
}