<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'/>
        <title>PP 기술, 금융 블로그</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="blog.css" type="text/css" media="all" />
    </head>

    <body>
        <div class="menu-container">
            <div class="menu">
                <div class="logo"><span>SH.IT</span></div>
                <div class="links">
                    <div class="signup">가입</div>
                    <div class="login">로그인</div>
                </div>
            </div>
        </div>

        <div class="navigation-bar">
            <a href="#">블로그</a>
            <a href="#">데이터</a>
            <a href="#">툴</a>
        </div>

        <div class="container">
            <div class="blog-section">
                <div class="title">문과생이 살아남는 방법</div>
                <div class="video-container">
                    <object type="text/html" data="//www.youtube.com/embed/6otU7ogiVbA" allowFullScreen></object>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-content">
                <p>© 2020 SHIT ----- PP & HM & KH</p>
                <br>
                <p>We're the shit and the party goes on~</p>
                <p>E-mail: ppark9553@gmail.com</p>
            </div>
        </footer>
    </body>
</html>