<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'/>
        <title>툴관리 | Tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div class="container">
            <header>
                <h1>관리시스템</h1>
            </header>
        </div>
        <article>
            <section class="history-section">
                <div class="section-header">
                    <a href="tool" class="go-back">👈 <span>돌아가기</span></a>
                    <h2>SRK툴 매매내역</h2>
                    <p>수익금: 80000</p>
                </div>
                <div id='chart-area'></div>
                <div class="history">
                    <div class="title">
                        <h3>History <button id="order">순서 반대로</button></h3>
                        <button class="download">💾 파일저장</button>
                    </div>
                    <div class="records"></div>
                </div>
            </section>
        </article>
        <script type="text/javascript" src="history.min.js"></script>
    </body>
</html>