<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'/>
        <title>툴관리 | Tool</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        <div class="container">
            <header>
                <h1>관리시스템</h1>
            </header>
        </div>
        <article>
            <section>
                <h2>SRK툴 관리 시스템</h2>
                <div class="tool-state">
                    <p>현재 상태: <span id='tool-state'>-</span></p>
                    <p>희망 상태: <span id='want-state'>-</span></p>
                    <p>포트 상태: <span id='port-state'>-</span></p>
                </div>
            </section>
            <section>
                <button class='action-btn'>툴시작</button>
                <button class='action-btn'>관심종목담기</button>
            </section>
            <section id="form-section"></section>
            <section id="monitorstocks"></section>
            <section>
                <div id='chart-area'></div>
            </section>
            <section>
                <div class="history">
                    <a href="history" class="show-more"><span>매매기록 더보기</span> 👉</a>
                </div>
            </section>
        </article>
        <script type="text/javascript" src="tool.min.js"></script>
    </body>
</html>